name: lab-bicep-to-json
run-name: Test bicep build
on:
    push:
        branches:
            - actions
jobs:
    build-json-templates:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Labs
              uses: actions/checkout@v5
              with:
                fetch-depth: 2

            - name: Get Changed Files
              id: changed-files
              run: |
                CHANGED_FILES=$(git diff --name-only HEAD^ HEAD | grep '\.bicep$' || true)
                echo "changed_files=$CHANGED_FILES" >> $GITHUB_OUTPUT

            - name: Install Bicep and build templates
              uses: azure/cli@v2
              with:
                azcliversion: latest
                inlineScript: |
                  echo "Installing Bicep"
                  az bicep install
                  find . -type f -name "*.bicep" | while read file; do
                    echo "Building $file"
                    az bicep build --file $file
                  done

            - name: Git published branch
              run: | 
                git config user.name "github-actions"
                git config user.email "github-actions@davidmcwee.com"
                git fetch origin master
                git checkout master
                ls